<section class="footer">
    <div class="ui container">


        <div class="ui grid">

            <div class="six wide computer sixteen wide tablet column">
                <img src="/static_stockroom_io/img/footer_logo_v1.svg">
                <p>We aim to be the primary and biggest geospatial services, data and analytics provider in Kenya. We want to unlock the potential of location information to every aspect of our lives</p>

                <div class="ui left floated horizontal link list">
                    <a class="item" href="https://www.facebook.com/edgespatial" target="_blank">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                    <a class="item" href="https://www.twitter.com/edgespatial" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="three wide computer sixteen wide tablet column">

                <div class="ui vertical link list">
                    <div class="header">Company</div>
                    <a class="item" href="/aboutus.html">About us</a>
                    <a class="item" href="/T&C.html">Terms and Service</a>
                    <a class="item" href="/T&C.html">Privacy policy</a>
                </div>

            </div>

            <div class="four wide computer sixteen wide tablet column">
                <div class="ui vertical link list">
                    <div class="header">Get in touch</div>


                    <a class="item contact-info mobile" href="#">
                        <i class="phone icon"></i> +254 7</a>

                    <span>For GIS related queries</span>
                    <a class="item contact-info" href="mailto:gis@edgespatial.com">
                        <i class="mail icon"></i> gis@edgespatial.com</a>

                </div>


                <div class="ui vertical link list">
                    <span>For Business related queries</span>
                    <a class="item contact-info" href="mailto:business@edgespatial.com">
                        <i class="mail icon"></i> business@edgespatial.com</a>

                </div>

            </div>



        </div>



    </div>

</section>