<section class="testimonial">
        
            <div class="ui container center aligned">
                <h1>Testimonial</h1>
            </div>
        
        
            <div class="ui container center aligned">
        
        
        
                <div class="testimonial-slider">
                    <div>
                        <p><img src="/static_stockroom_io/img/quote.svg" class="quote">
                            A big, big thank you to you and your team in partnering with us for the event.
                            A shout out to your team for the excellent support, dedication
                            and souring good quality candidates.
                        </p>
                        <img class="ui  centered  tiny circular image testimonial-pic" src="/static_stockroom_io/img/testimonial/savita.png">
                        <span>Savita Hortikar</span>
                        <p class="degn">Head of Recruitment, ThoughtWorks India</p>
                    </div>
                    <div>
                        <p><img src="/static_stockroom_io/img/quote.svg" class="quote">
                            Stockroom is doing a great work by helping companies hire great talent
                            through hackathons in the most effective and quick way.
                        </p>
                        <img class="ui  centered  tiny circular image testimonial-pic" src="/static_stockroom_io/img/testimonial/chirag.png"">
                        <span>Chirag Chamoli</span>
                        <p class="degn">Co-founder and CTO Sourceeasy</p>
                    </div>
                    <div>
                        <p><img src="/static_stockroom_io/img/quote.svg" class="quote">
                            I would like to say a big "Thank you" for your immense effort and support.
                            In addition, I have feeling that our further events are going to
                            be Great as well, good luck to Stockroom.
                        </p>
                        <img class="ui  centered  tiny circular image testimonial-pic" src="/static_stockroom_io/img/testimonial/rajnish.png">
                        <span>Rajnish Alexander Pitta</span>
                        <p class="degn">Senior Recruiting Specialist, Thoughtworks India</p>
                    </div>
                    <div>
                        <p><img src="/static_stockroom_io/img/quote.svg" class="quote">
                            The problem statement was really nice and I had fun while solving it.
                            I would love to participate in upcoming hackathons as well.
                        </p>
                        <img class="ui  centered  tiny circular image testimonial-pic" src="/static_stockroom_io/img/testimonial/tanuj.png">
                        <span>Tanuj Sanwal</span>
                        <p class="degn">Software Developer, SourceEasy
                        </p>
                    </div>
                    <div>
                        <p><img src="/static_stockroom_io/img/quote.svg" class="quote">
                            We found Stockroom as a valuable and an engaged partner. The yield ratio was around 50%
                            with better quality of candidates as compared to traditional sourcing methods.
                        </p>
                        <img class="ui  centered  tiny circular image testimonial-pic" src="/static_stockroom_io/img/testimonial/akash.jpg">
                        <span>Akash Pidipala</span>
                        <p class="degn">Resourcing Partner, Ivy Comptech
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <script>
            $(document).ready(function () {
                $('.testimonial-slider').slick({
        
                    dots: true,
        
                    responsive: [
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                arrows: false,
                                adaptiveHeight: true,
                                dots: true
                            }
                        }]
        
        
        
                });
        
            });
        </script>